.pie{
    position: relative;
    height: calc(var(--size,200) * 1px);
    width: calc(var(--size,200) * 1px);
    background: #639;
    border-radius: 100%;
    overflow: hidden;
}

.pie__segment{
    --a: calc(var(--over50, 0) * -100%);
    --b: calc((1 + var(--over50, 0)) * 100%);
    --degrees: calc((var(--offset, 0)/ 100) * 360);
    position: absolute;
    width: 100%;
    height: 100%;
    transform: 
        translate(0, -50%) 
        rotate(90deg) 
        rotate(calc(var(--degrees) * 1deg));
    transform-origin: 50% 100%;
    clip-path: 
        polygon(
            var(--a) var(--a), 
            var(--b) var(--a), 
            var(--b) var(--b), 
            var(--a) var(--b));
}

.pie__segment:before, .pie__segment:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg, #374c3c)
}

.pie__segment:before{
    --degrees : calc((var(--value, 45)/100) * 360);
    transform: 
        translate(0, 100%) 
        rotate(calc(var(--degrees) * 1deg));
    transform-origin: 50% 0;
}

.pie__segment:after{
    opacity: var(--over50, 0);
}