.pie{
    position: relative;
    height: calc(var(--size,200) * 1px);
    width: calc(var(--size,200) * 1px);
    background: #639;
    border-radius: 100%;
    overflow: hidden;
}

.pie__segment{
    --degrees: calc((var(--offset, 0)/ 100) * 360);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: 
        translate(0, -50%) 
        rotate(90deg) 
        rotate(calc(var(--degrees) * 1deg));
    transform-origin: 50% 100%;
}

.pie__segment:before{
    --degrees : calc((var(--value, 45)/100) * 360);
    content: '';
    background: #f00;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: 
        translate(0, 100%) 
        rotate(calc(var(--degrees) * 1deg));
    transform-origin: 50% 0;
}