body {
    padding: 20px;
}

.section {
    display: grid;
    grid-template-columns: 1fr 420px;
    grid-gap: 32px;
    border: 2px solid red;
    margin-bottom: 40px;
}

.section__left {
    background-color: blue;
    height: 50vh;
}
.section__right {
}

.section__right .box {
    height: 250px;
    background-color: green;
    margin-bottom: 30px;
}
