body {
    margin: 0;
    padding: 2rem;
}

.container {
    height: 800px;
    padding: 100px;
    position: relative;
    /* background-color: #34e5eb; */
    overflow: scroll;
}

.wrapper-input {
    background-color: yellow;
    padding: 30px;
    position: sticky;
    left: 100px;
    right: 100px;
    top: 0px;
    z-index: 100;
}

table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    font-size: 50px;
    border-spacing: 0;
    overflow: hidden;
}

tr {
    /* background-color: red; */
}

tr:hover {
    background-color: pink;
}
th,
td {
    padding: 0.25rem;
    position: relative;
}

td:hover::after {
    content: "\00a0";
    position: absolute;
    background-color: rgba(252, 186, 3, 0.3);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

tr.red th {
    background: red;
    color: white;
}

th {
    background: white;
    position: sticky;
    top: 81px;
}
